<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.google.dart.tools.debug.core.dartiumLaunchConfig">
<stringAttribute key="applicationName" value="/clock/clock.html"/>
<stringAttribute key="launchTime" value="1343265973062"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/clock/clock.html"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="projectName" value="clock"/>
</launchConfiguration>
